{% extends 'res.html'%} {% block title%}
<title>PromoDesk Blog</title>
{%endblock title%} {% block body%}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h1 class='text-center'>PromoDesk Blog</h1>
    <div class="container">
        <h2 class="text-center">About</h2>
        <div class="jumbotron">
            <h1 class="display-4">PromoDesk</h1>
            <p class="lead"> <i>The never-ending knowledge of Business</i>  Blogs is not only to solve existing problems related to business but also to ensure that the business has a steady growth even among tough competition. Business blogs can also prevent problem creating decisions taken by entrepreneurs to lack of experience. Business blogs are an effective example of <b>"Prevention is better than cure."</b></p>
            <hr class="my-4">
            <p>The below is the github code link for the project.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Github</a>
        </div>
    </div>
    <style>
        h1 {
            color: rgb(24, 0, 131);
        }
        
        h2 {
            color: rgb(255, 0, 85);
        }
    </style>{%endblock body%}